/* __________________ Thème Principale __________________ */

/* Blanc */
:root {
  --text-color: #444;

  /* Background */
  --background-color: #fff;
  --header-color: rgba(255, 255, 255, 0.95);

  --primary-color: #1d9bf0;
  --primary-color-hover: #4daff0;
  --primary-color-active: #65b8f0;
  --primary-color-text: #fff;
  --border-color: #CFD9DEFF;

  --hover-color: #F7F7F7;

  --blue-light-color: #00CCFF;
  --blue-light-color-hover: rgba(0, 178, 227, 0.1);
  --blue-light-color-active: rgba(0, 186, 232, 0.2);
  --blue-light-color-disabled: #8dccf7;
  --blue-dark-color: #16A2B7;
  --orange-color: #FFC108;
  --red-color: #D73546;
  --red-hover-color: rgba(215, 53, 70, 0.1);
  --red-pastel-color: #F4C5CA;
  --green-color: #28A745;
  --green-fuchsia-color: #9EFF61;
  --green-pastel-color: #C3E6CB;

  --grey-light: #eff3f4;
  --grey-dark: #556572;
}

/*____________________________ Noir ____________________________*/
.dark-mode {
  --text-color: #fff;

  /* Background */
  --background-color: #383838;
  --header-color: rgba(56, 56, 56, 0.8);


  --primary-color: #1d9bf0;
  --blue-light-color-hover: rgba(0, 204, 255, 0.2);
  --blue-light-color-active: rgba(0, 204, 255, 0.5);
  --blue-light-color-disabled: #153d59;
  --primary-color-text: #fff;

  --grey-light: #4e5154;
  --grey-dark: #6b7073;

  --blue-light-color: #19d1ff;
  --blue-dark-color: #19bdd6;
  --orange-color: #ffcf41;
  --red-color: #e02437;
  --red-pastel-color: #eec9cc;
  --green-color: #18bb3e;
  --green-fuchsia-color: #9EFF61;
  --green-pastel-color: #C3E6CB;
  --grey-dark-color: #505050;
  --grey-light-color: #eee;
}
