@charset "utf-8";
/* __________________ GENERAL __________________ */

@import './main-theme-colors.scss';
@import './global-variable.scss';

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;1,400&family=Raleway:wght@400;500&family=Roboto+Mono:wght@500;700&display=swap');

html{
  font-size: 16px;
  padding: 0;
  margin: 0;
}

body{
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-style: normal;
  background-color: var(--background-color);
  color: var(--text-color);
  min-height: 100vh;
  text-rendering : optimizeLegibility;
  font-synthesis: none;
  direction: ltr;
}

.main-container{
  position: relative;
  width: 600px;
  margin: auto;
  min-height: 100vh;
  border-left: 1px solid var(--grey-light);
  border-right: 1px solid var(--grey-light);
}

.item-container{
  padding: 20px;
  border-bottom: 1px solid var(--grey-light);
}

.text-label{
  display: inline-block;
  font-size: .8rem;
  background-color: var(--grey-light);
  padding: 5px 10px;
  border-radius: var(--border-radius);
  vertical-align: middle;
  margin-left: 10px;
  font-weight: bold;
}

.profile-name{
  color: var(--grey-dark);
  font-size: .9rem;
}

// Title
.main-title{
  font-size: 2rem;
}

.second-title{
  font-size: 1.2rem;
  border-bottom: 1px solid var(--grey-light);
  color: var(--grey-dark);
  margin-top: 50px;
  &:first-child{
    margin-top: 0;
  }
}

// Class Modal
.container-modal{
  position: fixed;
  width: 100vw;
  height: 100vh;
  display: flex;
  top: 0;
  left: 0;
  z-index: 10;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.26);
}

.modale{
  background-color: var(--background-color);
  min-width: 600px;
  width: 600px;
  border-radius: var(--border-radius);
  overflow: scroll;
  max-height: calc(100% - 100px);
}

// Button
.button-primary{
  padding: 8px 15px;
  background-color: var(--primary-color);
  border-radius: 100px;
  color: var(--primary-color-text);
  cursor: pointer;
  font-weight: bold;
  font-size: .9rem;
  transition-duration: var(--transition-duration);
  height: max-content;
  &:hover{
    background-color: var(--primary-color-hover);
  }
  &:active{
    background-color: var(--primary-color-active);
  }
  &:disabled{
    background-color: var(--grey-light);
    cursor: not-allowed;
  }
}

form{
  .button-primary{
    width: 100%;
  }
}

.button-round{
  transition-duration: var(--transition-duration);
  border-radius: 50px;
  width: 40px;
  font-size: 1.2rem;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  &:hover{
    background-color: var(--grey-light);
  }
}

.button-heart:hover{
  background-color: var(--red-hover-color);
  color: var(--red-color);
}

// Input CSS
.container-input{
  margin: 20px 0;
}

.label{
  margin-bottom: 5px;
  display: block;
}

.input{
  display: block;
  width: 100%;
  padding: 10px;
  border: 1px solid var(--grey-light);
  border-radius: 5px;
  transition: var(--transition-duration) border;
  &:hover{
    border-color: var(--grey-dark);
  }
  &:disabled{
    background-color: var(--grey-light);
    border-color: var(--grey-light);
  }
}

.error-message{
  font-size: .8rem;
  margin: 5px 0;
  color: red;
}

// Link
a{
  color: var(--primary-color);
  text-decoration: none;
  &:hover{
    text-decoration: underline 1px;
  }
}

// Warning info-Input
.container-warning-field{
  margin-top: 10px;
}

.list-warning,{
  font-size: .9rem;
}

.list-warning,
.warning{
  margin-bottom: 30px;
}

.item-list-warning{
  margin: 10px 0 10px 20px;
  list-style: inside;
}

// Publication
.publication-hover{
  transition-duration: var(--transition-duration);
  cursor: pointer;
  &:hover{
    background-color: var(--hover-color);
  }
}

.publication-header{
  display: flex;
  justify-content: space-between;
  &-meta{
    display: flex;
    align-items: center;
  }
  &-username{
    font-size: 1rem;
    a{
      color: var(--text-color);
      &:hover{
        text-decoration: underline .1rem;
      }
    }
  }
  &-extra{
    color: var(--grey-dark);
    margin: 0 5px;
    font-size: .9rem;
  }
  &-time:hover{
    text-decoration: underline 1px;
  }
}

.publication-body{
  display: flex;
}

.publication-main{
  margin: 10px 0;
}

.publication-content{
  margin-left: 20px;
  width: 100%;
}

.publication-medias-multiple{
  max-height: 200px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  .publication-medias-item{
    margin-right: 10px;
    height: 200px;
    &:last-child{
      margin-right: 0;
    }
  }
  .publication-media-image{
    height: 200px;
    max-height: 200px;
  }
}

.publication-footer{
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
  .button-primary{
    width: auto;
    padding-right: 20px;
    padding-left: 20px;
  }
  #file-publication{
    display: none;
    visibility: hidden;
  }
}

// Class Color
.red{
  color: var(--red-color);
}
